<content class="home">
  <h1>Latest log:</h1>
  {{ with (index (where site.RegularPages "Type" "log").ByDate.Reverse 0) }}
    <article>
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">continue reading...</a>
    {{ end }}
    </article>
  {{ end }}
  <br/>
  <p><a href="/log">• see all log entries •</a></p>
  <br/>
  <br/>
  <h1>Latest pics:</h1>
  {{ with (index (where site.RegularPages "Section" "pics").ByDate.Reverse 0) }}
    <article>
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ .Content }}
    </article>
  {{ end }}
  <br/>
  <p><a href="/pics">• see all picture log entries •</a></p>

 
</content>
